
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V20</title>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
	
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-b-160 p-t-50">





          <span class="login100-form-title p-b-43">
            <h1 routerLink='/User/login' routerLinkActive='active'> Sign In</h1>
            <h1 routerLink='/User/registration' routerLinkActive='active'> Sign Up</h1>
					</span>

  
 
 
    <router-outlet></router-outlet>




</div>
</div>
