
<head>
    

</head>

<div id="ex1" class="modal">
    <div >
       



<img src="{{service3.dossier.contenu}}" alt="Non" style="width: 1000x ;height: 700px; "  >





<div class="property-social-icons">
<!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
</div>

</div>
      

    <a href="/profil" rel="modal:close">Close</a>
    <i class="fas fa-trash-alt"  (click)="Ondelete()"></i>

  
  <!-- Link to open the modal -->
  
</div>  